@{ ViewData["Title"] = "About Me"; }

<!-- Figure -->
<section class="container g-pt-50 g-pb-40 g-mb-10">
    <figure class="row">
        <!-- Profile Pic -->
        <div class="col-md-8 offset-md-2 col-lg-3 offset-lg-0 g-mb-30">
            <div style="margin-bottom: 15px">
                <img class="w-100" src="~/images/evan_becker.png" alt="Image Description">
            </div>
            <div style="text-align: center">
                <!-- Resume Button -->
                <a href="~/images/Resume-EvanBecker.pdf" class="btn btn-block btn-xxl u-btn-outline-primary u-btn-content g-font-weight-600 g-letter-spacing-0_5 g-font-size-18 text-uppercase g-brd-2 g-mr-10 g-mb-15">
                    <i class="fa fa-cloud-download pull-left g-font-size-50 g-mr-10"></i>
                    Resume
                    <span class="d-block g-font-size-12">PDF Format</span>
                </a>
                <!-- End Resume Button -->
                <div class="offset-lg-0">
                    <!-- Figure Social Icons -->
                    <ul class="list-inline">
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v2 u-icon-slide-up--hover g-color-white g-bg-blue g-color-white--hover rounded-circle" href="https://www.facebook.com/ebecker.designs/">
                                <i class="g-font-size-24 g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                                <i class="g-font-size-32 g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v2 u-icon-slide-up--hover g-color-white g-bg-blue g-color-white--hover rounded-circle" href="https://www.linkedin.com/in/evanbeckerdotcom/">
                                <i class="g-font-size-24 g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                                <i class="g-font-size-32 g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v2 u-icon-slide-up--hover g-color-white g-bg-blue g-color-white--hover rounded-circle" href="https://github.com/beckerej">
                                <i class="g-font-size-24 g-line-height-1 u-icon__elem-regular fa fa-github"></i>
                                <i class="g-font-size-32 g-line-height-0_8 u-icon__elem-hover fa fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v2 u-icon-slide-up--hover g-color-white g-bg-blue g-color-white--hover rounded-circle" href="https://gitlab.com/evanbecker">
                                <i class="g-font-size-24 g-line-height-1 u-icon__elem-regular fa fa-gitlab"></i>
                                <i class="g-font-size-32 g-line-height-0_8 u-icon__elem-hover fa fa-gitlab"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- End Figure Social Icons -->
                </div>

            </div>
        </div>
        <!-- End Profile Pic -->
        <!-- Profile Body -->
        <div class="col-lg-9">
            <!-- Profile Header -->
            <div class="d-flex justify-content-between g-mb-10">
                <div class="g-mb-20">
                    <h2 class="h4 mb-3">
                        <strong>Evan James Becker</strong>
                    </h2>
                    <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">UWM SURF Research Student</em>
                </div>
            </div>
            <!-- End Profile Header -->
            <!-- Profile Info -->
            <div class="g-mb-40">
                <p>
                    Hello! I'm Evan, a software engineer from Milwaukee experienced in 3D applications, DevOps (Unix & Windows),
                    .NET, IoT, Data Science and ML, DCaaS, and Full-stack Development.
                </p>
                <p>
                    I also am a hobbyist video game developer. My most recent project is a
                    <a href="https://gitlab.com/evanbecker/td">Tower Defense</a> game written in C++ using Unreal Engine 4.
                </p>
            </div>
            <!-- End Info -->
            <div class="row">
                <div class="col-sm-3">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Web Front End</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-teal progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Web Back End</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-teal progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Web Frameworks</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-teal progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-3">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Networking</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-cyan progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Relational Databases</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-cyan progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Web APIs</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-cyan progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-3">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">DevOps</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-darkblue progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 80%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Operating Systems</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-darkblue progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 76%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Typed Languages</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-darkblue progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
                <div class="col-sm-3">
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">3D & Math</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-indigo progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Statistics & ML</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-indigo progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                    <!-- Progress Bar v2 -->
                    <h4 class="h6 g-mb-5">Shell Scripting</h4>
                    <div class="js-hr-progress-bar progress rounded-0 g-height-4 mb-5">
                        <div class="js-hr-progress-bar-indicator g-bg-indigo progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!-- End Progress Bar v2 -->
                </div>
            </div>
        </div>
        <!-- End Profile Body -->
    </figure>
    <!-- Heading -->
    <div class="text-center">
        <h2 class="h3 text-uppercase mb-3 g-pt-20">
            <strong>Coding</strong>
        </h2>
        <p class="mb-0">Programming and Scripting Languages</p>
    </div>
    <br>
    <!-- End Heading -->
    <div class="row">
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-30 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-teal" style="height: 89%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">89%</div>
            <h6 class="text-uppercase g-letter-spacing-1">Bash/PowerShell</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-cyan" style="height: 71%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">71%</div>
            <h6 class="text-uppercase g-letter-spacing-1">C++</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-cyan" style="height: 95%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">95%</div>
            <h6 class="text-uppercase g-letter-spacing-1">C#</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-cyan" style="height: 74%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">74%</div>
            <h6 class="text-uppercase g-letter-spacing-1">Python</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-darkblue" style="height: 92%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">92%</div>
            <h6 class="text-uppercase g-letter-spacing-1">JavaScript</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-darkblue" style="height: 66%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">66%</div>
            <h6 class="text-uppercase g-letter-spacing-1">PHP</h6>
        </div>
        <!-- End Vertical Progress Bar -->
    </div>
    <!-- Heading -->
    <div class="text-center g-pt-50">
        <h2 class="h3 text-uppercase mb-3">
            <strong>Technologies</strong>
        </h2>
        <p class="mb-0">Platforms, Tools, and Development Environments</p>
    </div>
    <br>
    <!-- End Heading -->
    <div class="row">
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-30 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-blue" style="height: 81%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">81%</div>
            <h6 class="text-uppercase g-letter-spacing-1">Docker</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-blue" style="height: 73%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">73%</div>
            <h6 class="text-uppercase g-letter-spacing-1">Unix</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-blue" style="height: 93%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">95%</div>
            <h6 class="text-uppercase g-letter-spacing-1">Git</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-blue" style="height: 95%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">95%</div>
            <h6 class="text-uppercase g-letter-spacing-1">.NET</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-blue" style="height: 78%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">78%</div>
            <h6 class="text-uppercase g-letter-spacing-1">OpenGL</h6>
        </div>
        <!-- End Vertical Progress Bar -->
        <!-- Vertical Progress Bar -->
        <div class="col-sm-2 text-center g-mb-20 g-mb-2--sm">
            <div class="u-progress-bar-vertical-v1 g-bg-gray-light-v4 g-mb-20">
                <div class="g-bg-blue" style="height: 92%;"></div>
            </div>
            <div class="g-font-size-12 g-mb-5">89%</div>
            <h6 class="text-uppercase g-letter-spacing-1">SQL</h6>
        </div>
        <!-- End Vertical Progress Bar -->
    </div>
</section>
<!-- End Figure -->
<!-- Quote -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_8--after">
    <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background: url('@Url.Content("~/img-temp/720x299/img1.jpg")');"></div>
    <div class="container g-z-index-1 g-py-75">
        <!-- Graphs -->
        <section class="container g-mb-40">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <!-- Heading -->
                    <div class="text-center">
                        <h1 class="h2 text-uppercase g-pb-20 g-color-white">Undergrad Research Project</h1>
                        <a href="http://uwm.edu/our/wp-content/uploads/sites/416/2017/04/URSYMP17.pdf" class="btn btn-md u-btn-inset u-btn-inset--rounded u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-mr-10 g-mb-15">
                            <i class="fa fa-check-circle g-mr-3"></i> PDF Abstract Publishment
                        </a>
                        <a href="http://dc.uwm.edu/uwsurca/2017/Posters/11/" class="btn btn-md u-btn-inset u-btn-inset--rounded u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-mr-10 g-mb-15">
                            <i class="fa fa-check-circle g-mr-3"></i> Web Abstract Publishment
                        </a>
                    </div>
                    <!-- End Heading -->
                </div>
            </div>
        </section>
        <!-- End Graphs -->
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="text-center g-z-index-1 text-uppercase">
                    <blockquote class="g-color-white g-font-size-28 g-font-weight-300">
                        About
                        <span class="g-font-weight-600">90%</span> OF THE WORLD'S VISUALLY IMPAIRED LIVE IN DEVELOPING COUNTRIES IN
                        <span class="g-font-weight-600">LOW-INCOME</span> SETTINGS.
                    </blockquote>
                    <h4 class="h6 g-color-white-opacity-0_6 g-mb-0">- WORLD HEALTH ORGANIZATION -</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Quote -->
<section class="container g-pt-50 g-pb-40 g-mb-10">
    <div class="text-center">
        <h2 class="h3 text-uppercase mb-3 g-pt-20">
            <strong>Projects</strong>
        </h2>
        <p class="mb-0">Coming soon...</p>
    </div>

    <div class="row g-pt-50 ">
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img1.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/towerdefense.png" alt="example-image">
                </a>
            </div>
        </div>
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img2.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/PlanIT.png" alt="example-image">
                </a>
            </div>
        </div>
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img3.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/josephus.png" alt="example-image">
                </a>
            </div>
        </div>
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img4.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/opengl.gif" alt="example-image">
                </a>
            </div>
        </div>
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img5.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/projectz.png" alt="example-image">
                </a>
            </div>
        </div>
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img6.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/ryanlawfirm.png" alt="example-image">
                </a>
            </div>
        </div>

        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img7.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/eargear.jpg" alt="example-image">
                </a>
            </div>
        </div>
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img8.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/kinder-morgan.png" alt="example-image">
                </a>
            </div>
        </div>
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img9.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/trippyplanes.png" alt="example-image">
                </a>
            </div>
        </div>
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img10.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/laser.jpg" alt="example-image">
                </a>
            </div>
        </div>
        <div class="col-md-2 g-mb-30--md">
            <div class="g-brd-around g-brd-gray-light-v4--hover">
                <a class="js-fancybox d-block u-block-hover u-block-hover--scale-down" href="javascript:;" data-fancybox="lightbox-gallery--17" data-src="../../assets/img-temp/400x270/img11.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--grayscale u-block-hover__img" src="~/images/projects/h1z1.png" alt="example-image">
                </a>
            </div>
        </div>
    </div>
</section>