<!DOCTYPE html>
<div id="sketch-holder"></div>
<!-- About -->
<section class="g-pt-50 g-pb-100">
    <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex align-items-lg-center flex-wrap g-mb-60 g-mb-0--lg">
            <div class="col-md-6 col-lg-8">
                <img class="img-fluid rounded" src="~/images/design.jpg" alt="Image Description" height="600" width="900">
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
                    <div class="g-mb-20">
                        <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
                            Building the<br>Perfect Website
                        </h2>
                        <p class="g-font-size-16">Customize your website by choosing the features of your webpage. You may include example websites to help get your vision across or just tell me your vision; I'll make it happen.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Image, Text Block -->
    </div>
    <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex justify-content-between align-items-lg-center flex-wrap g-mt-minus-50--lg">
            <div class="col-md-6 flex-md-unordered">
                <div class="g-brd-around--md g-brd-10 g-brd-white rounded">
                    <img class="img-fluid w-100 rounded" src="~/images/devices.jpg" alt="Image Description" height="450" width="600">
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ml-auto flex-md-first">
                <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
                    <div class="g-mb-20">
                        <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
                            Have Questions?<br>
                        </h2>
                        <p class="g-font-size-16">Get in contact and find out more about the web development process. Have a large project? This is the best place to inquire about my services!</p>
                    </div>
                    <a class="btn u-btn-blue g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="contact-me.html">
                        Contact Me
                        <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Image, Text Block -->
    </div>
</section>
<!-- End About -->

@section Scripts
{
<script src="~/p5/addons/p5.dom.js"></script>
<script src="~/p5/p5.min.js"></script>
<script>
    CreateCanvas(100, 100);
    var canvas;

    function windowResized() {
        console.log("test");
        //resizeCanvas(windowWidth, windowHeight);
    }

    function setup() {
        canvas = createCanvas(windowWidth, windowHeight);
        //canvas.elt.style.zindex = '-1';
    }

    function draw() {
        background(163);
    }
</script>
}