@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<!-- Dang, looking at the source? Respect. -->
<html lang="en">
<head>
    <!-- Title -->
    <title>Milwaukee Web Developer - Evan Becker</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="description" content="Evan Becker Portfolio 3D .NET Programmer">
    <meta name="keywords" content="Evan Becker,3D,Milwaukee,Programmer,Evan,Becker,Web,HTML,CSS,JavaScript,Bootstrap,UnrealEngine,C++,C#,Dotnet,.NET,Bash,Unix,DevOps">
    <meta name="author" content="Evan Becker">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendor/animate.css">
    <link rel="stylesheet" href="~/vendor/hamburgers/hamburgers.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="~/css/unify.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/css/custom.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
    <script src="~/p5/addons/p5.dom.js"></script>
    <script src="~/p5/p5.min.js"></script>
    <script>createCanvas(100,100);
        var canvas;

        function windowResized(){
          console.log("test");
          //resizeCanvas(windowWidth, windowHeight);
        }

        function setup() {
          canvas = createCanvas(windowWidth, windowHeight);
          //canvas.elt.style.zindex = '-1';
        }

        function draw() {
          background(163);
        }</script>
</head>
<body>
    <main>
        <!-- Header -->
        <header id="js-header" class="u-header u-header--static">
            <div class="u-header__section u-header__section--light g-bg-white u-shadow-v18 g-transition-0_3 g-py-10">
                <nav class="js-mega-menu navbar navbar-toggleable-md">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0" type="button"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="navBar"
                                data-toggle="collapse"
                                data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="index.html" class="navbar-brand">
                            <img src="~/images/logo/logo_dark.png" alt="Image Description">
                        </a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                                <!-- Intro -->
                                <li class="nav-item g-mx-10--lg g-mx-15--xl">
                                    <a href="index.html" class="nav-link g-py-7 g-px-0">Home</a>
                                </li>
                                <li class="nav-item g-mx-10--lg g-mx-15--xl">
                                    <a href="about-me.html" class="nav-link g-py-7 g-px-0">About Me</a>
                                </li>
                                <li class="nav-item g-mx-10--lg g-mx-15--xl">
                                    <a href="contact-me.html" class="nav-link g-py-7 g-px-0">Contact Me</a>
                                </li>

                                <!-- End Intro -->
                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->
        <div id="sketch-holder"></div>
        <!-- Promo Block - Parallax -->
        <!--<section class="g-bg-gray-light-v5 bgpara">
          <div class="container">
            <div class="row justify-content-between" data-calc-target="#js-header" style="height: calc(100vh - 80px);">
              <div class="col-md-5 align-self-center">
                <center>
                <br><p><h2 class="g-color-white g-font-size-36 text-uppercase g-line-height-1_2 g-mb-30">Mobile-Friendly
                  <br><span class="g-font-weight-700"><div class="g-color-blue">With Any Browser</div></span></h2></p>
                  <p class="g-color-gray-light-v5 g-font-size-16 g-mb-35">
                  Get a responsive website built with the latest CSS frameworks meaning your website not only works, but looks good with any modern browser and device. Get an <strong>App-like</strong> experience for your website!
                </p>

                <br>
                </center>
                <!--
                <a class="btn btn-md u-btn-primary u-btn-hover-v1-3 g-letter-spacing-0_5 text-uppercase g-rounded-10 g-px-20 g-py-10 mx-2 g-mb-15" href="#">
                  <i class="g-font-size-28 mr-3 fa fa-apple"></i>
                  <span class="d-inline-block text-left">
                    <span class="d-block g-font-weight-600 g-font-size-13">Download app</span>
                    <span class="d-block g-font-size-10">From App Store</span>
                  </span>
                </a>
                <a class="btn btn-md u-btn-teal u-btn-hover-v1-3 g-letter-spacing-0_5 text-uppercase g-rounded-10 g-px-20 g-py-10 mx-2 g-mb-15" href="#">
                  <i class="g-font-size-28 mr-3 fa fa-android"></i>
                  <span class="d-inline-block text-left">
                    <span class="d-block g-font-weight-600 g-font-size-13">Download app</span>
                    <span class="d-block g-font-size-10">From Play Market</span>
                  </span>
                </a>
              </div>
              <div class="col-md-6 align-self-end g-overflow-hidden frontphone">
                <img class="img-fluid" src="~/images/inline/inline1.png" alt="Evan Becker" data-animation="fadeInUp" data-animation-delay="1200" data-animation-duration="1500">
              </div>
            </div>
          </div>
        </section>-->
        <!-- End Promo Block - Parallax -->
        <!-- <section class="dzsparallaxer auto-init height-is-based-on-content use-loading g-mb-40 mode-scroll is-touch" data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
          <div class="divimage dzsparallaxer--target w-100 g-bg-repeat" style="height: 100%; background-image: url('~/images/bg/pattern3.png'); transform: translate3d(0px, -289px, 0px);"></div>

          <div class="container text-center g-color-white g-py-50--md g-py-20">
            <h2 class="h2 text-uppercase g-font-weight-300">Hire Us!</h2>
            <p class="lead g-px-100--md g-mb-20">Nulla ipsum dolor sit amet, consectetur adipiscing elitut eleifend nisl. In hac habitasse platea dictumst. Curabitur hendrerit, Proin et augue vel nisi rhoncus tincidunt lectus in bibendum pellentesque, lacus eros rutrum ligula.</p>
            <a class="btn btn-md u-btn-primary rounded-0" href="#">Get in touch</a>
          </div>
        </section> -->
        <!-- About -->
        <section class="g-pt-50 g-pb-100">
            <div class="container">
                <!-- Image, Text Block -->
                <div class="row d-flex align-items-lg-center flex-wrap g-mb-60 g-mb-0--lg">
                    <div class="col-md-6 col-lg-8">
                        <img class="img-fluid rounded" src="~/images/design.jpg" alt="Image Description" height="600" width="900">
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
                            <div class="g-mb-20">
                                <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
                                    Building the<br>Perfect Website
                                </h2>
                                <p class="g-font-size-16">Customize your website by choosing the features of your webpage. You may include example websites to help get your vision across or just tell me your vision; I'll make it happen.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Image, Text Block -->
            </div>
            <div class="container">
                <!-- Image, Text Block -->
                <div class="row d-flex justify-content-between align-items-lg-center flex-wrap g-mt-minus-50--lg">
                    <div class="col-md-6 flex-md-unordered">
                        <div class="g-brd-around--md g-brd-10 g-brd-white rounded">
                            <img class="img-fluid w-100 rounded" src="~/images/devices.jpg" alt="Image Description" height="450" width="600">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ml-auto flex-md-first">
                        <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
                            <div class="g-mb-20">
                                <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
                                    Have Questions?<br>
                                </h2>
                                <p class="g-font-size-16">Get in contact and find out more about the web development process. Have a large project? This is the best place to inquire about my services!</p>
                            </div>
                            <a class="btn u-btn-blue g-brd-2 g-brd-white g-font-size-13 g-rounded-50 g-pl-20 g-pr-15 g-py-9" href="contact-me.html">
                                Contact Me
                                <span class="align-middle u-icon-v3 g-width-16 g-height-16 g-color-black g-bg-white g-font-size-11 rounded-circle ml-3">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Image, Text Block -->
            </div>
        </section>
        <!-- End About -->
        <!-- Footer -->
        <div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
            <div class="container">
                <div class="row">
                    <!-- Footer Content -->
                    <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title g-color-blue h6 text-uppercase mb-0">Sitemap</h2>
                        </div>

                        <nav class="text-uppercase1">
                            <ul class="list-unstyled g-mt-minus-10 mb-0">
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="index.html">Home</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="about-me.html">About Me</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="contact-me.html">Contact Me</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Footer Content -->
                    <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title g-color-blue h6 text-uppercase mb-0">About Me</h2>
                        </div>
                        <p>
                            I'm a software engineer experienced in 3D applications, DevOps, .NET, IoT, Data Science, DCaaS, and Full-stack
                            Development.
                        </p>
                        <p>
                            <a href="about-me.html">See More</a>
                        </p>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title g-color-blue h6 text-uppercase mb-0">Social Media</h2>
                        </div>

                        <a class="u-icon-v2 g-rounded-3 g-color-white g-color-linkedin--hover g-color-linkedin--hover g-mr-15 g-mb-20" href="https://www.linkedin.com/in/evanbeckerdotcom/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="u-icon-v2 g-rounded-3 g-color-white g-color-linkedin--hover g-color-linkedin--hover g-mr-15 g-mb-20" href="https://github.com/beckerej">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="u-icon-v2 g-rounded-3 g-color-white g-color-linkedin--hover g-color-linkedin--hover g-mr-15 g-mb-20" href="https://gitlab.com/evanbecker">
                            <i class="fa fa-gitlab"></i>
                        </a>
                        <a class="u-icon-v2 g-rounded-3 g-color-white g-color-linkedin--hover g-color-linkedin--hover g-mr-15 g-mb-20" href="https://www.facebook.com/ebecker.designs/">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                    <!-- End Footer Content -->
                    <!-- End Footer Content -->
                </div>
            </div>
        </div>
        <!-- End Footer -->
        <!-- Copyright Footer -->
        <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                        <div class="d-lg-flex">
                            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2019 © All Rights Reserved.</small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Copyright Footer -->
        <a class="js-go-to u-go-to-v1" href="#"
           data-type="fixed"
           data-position='{
           "bottom": 15,
           "right": 15
         }'
           data-offset-top="400"
           data-compensation="#js-header"
           data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>
    <!-- JS Global Compulsory -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/vendor/tether.min.js"></script>
    <script src="~/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="~/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="~/vendor/appear.js"></script>
    <script src="~/vendor/slick-carousel/slick/slick.js"></script>
    <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <!-- JS Unify -->
    <script src="~/js/hs.core.js"></script>
    <script src="~/js/components/hs.header.js"></script>
    <script src="~/js/helpers/hs.hamburgers.js"></script>
    <script src="~/js/helpers/hs.hamburgers.js"></script>
    <script src="~/js/helpers/hs.height-calc.js"></script>
    <script src="~/js/components/hs.onscroll-animation.js"></script>
    <script src="~/js/components/hs.carousel.js"></script>
    <script src="~/js/components/hs.go-to.js"></script>
    <!-- JS Plugins Init. -->
    <script>$(document).ready(function () {
        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');
      });</script>
</body>
</html>
